<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>vxtodo</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
<link href="css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>

<div id="layout">
    <div id="title">
        <img src="img/logo.png" alt="vxtodo logo" />
    </div>
    <div id="nav">
        {% ifequal login 0 %}
        <a href="board.vx">使用Google账户登录使用</a>
        {% else %}
        <a href="board.vx">个人面板</a>
        {% endifequal %}
        <a href="prism">桌面运行</a>
        <a href="http://vifix.cn/blog/vxtodo.html">开发日志</a>
    </div>
    <div id="welcome">
        <p style="text-align:center;">
            <img src="img/top.png" alt="" />
        </p>
        <p>
            合理的使用TODO-List（也就是待办事项列表）能够帮助合理的安排时间，使工作效率提升，并且帮助记忆重要的事项。
        </p>
        <p>
            <strong>vxtodo</strong>是一款基于Web的个人用TODO-List应用，基于Google App Engine开发。同时也可以<a href="prism">使用Prism</a>使vxtodo成为桌面应用。
        </p>
        特性：<br />
        <ol>
            <li>使用google帐号登录即可使用，无需注册</li>
            <li>支持电子邮件提醒功能，也可以充当时间胶囊（笑～）</li>
        </ol>
        待实现：<br />
        <ol>
            <li>Google Gears支持</li>
            <li>WAP/XHTML Mobile支持</li>
        </ol>
        <p>
            建议使用<strong>IE7+</strong>, <strong>Firefox 2.0+</strong>, <strong>Opera 9.5+</strong>, <strong>Chrome 1.0+</strong>访问
        </p>
    </div>
    <div id="info">
        Powered by <a href="http://vifix.cn">vifix.cn</a><br />
        <img src="http://code.google.com/appengine/images/appengine-noborder-120x30.gif" alt="Google App Engine 支持" />
    </div>
</div>

</body>
</html>
